@font-face {
  font-family: "SF Pro Text - Regular";
  src: url("http://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff2") format("woff2");
}

@font-face {
  font-family: "SF Compact Display";
  src: url("http://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.woff2") format("woff2");
}
$SF-Pro-Text: "SF Pro Text - Regular";
$SF-Compact-Display: "SF Compact Display";
